@import url(https://fonts.googleapis.com/css?family=Figtree:500,800,500italic,800italic);
@import "tailwindcss";

@theme {
    --color-yellow: hsl(47, 88%, 63%);
    --color-gray-500: hsl(0, 0%, 42%);
    --color-gray-950: hsl(0, 0%, 7%);

    --font-figtree: Figtree, sans-serif;
}

:root {
    --card-width: 384px;
    --card-padding: calc(1.5rem - 1px);

    --card-shadow: 8px 8px 0 0 #000;
}

body {
    font-family: var(--font-figtree);
}